.footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc;
    background: #eee;
    ul{
        display: flex;
        width: 100%;
        font-size: 32px;
        li{
            flex: 1;
            text-align: center;
            line-height: 100px;
        }
    }
}